.add
{
    text-align: center;
    margin: 2rem;
}
h2
{
    text-align: center;
}
input
{
    background-color: transparent;
    border: 1px solid white;
}
h4
{
    text-align: center;
}